<form>
    <div class="form-group">
      <label >Invoice ID</label>
      <input  class="form-control"  placeholder="Enter Invoice ID" name="InvoiceId" [(ngModel)]="Item.invoice_ID">
    </div>
    <div class="form-group">
        <label >Product ID</label>
        <input    class="form-control"  placeholder="Enter Product ID" name="ProductID" [(ngModel)]="Item.product_ID">
      </div>
      <div class="form-group">
        <label >Product Price</label>
        <input  class="form-control"  placeholder="Enter Product Price" name="ProductPrice" [(ngModel)]="Item.product_Price">
      </div>
      <div class="form-group">
        <label >Product Quantity</label>
        <input   class="form-control"  placeholder="Enter Product Quantity" name="ProductQuantity" [(ngModel)]="Item.product_Quantity">
      </div>
    
    <a (click)="insertAnewInvoice(Item)" type="submit" class="btn btn-primary" [routerLink]="['/details',Item.invoice_ID]">Submit</a>
  </form>
